body {
  padding-top: 40px;
  background-color: #eee;
}

.domain-name {
  font-weight: bold;
}

.check-result-alert {
  font-size: larger;
  padding: 10px;
}

.fieldset-header {
  font-weight: bold;
  font-size: larger;
}
